// We use this to do vertical centered elemnts
@mixin vertical-center {
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

@mixin line($line-width: 100%, $line-color: $line-color) {
  height: 0;
  border: 0;
  border-bottom: 1px solid $line-color;
  width: $line-width;
}
