.topbar {
  background: #2B2B2B;
  font-size: 10px;
  font-style: normal;
  font-weight: 900;
  line-height: 12px;
  letter-spacing: 2px;
  width: 100%;
  min-height: 30px;
  margin-bottom: 6px;
  line-height: 1.6;
  a{
    color: #9E9E9E;
    display: inline-block;
    padding: 7px 18px 7px;
    &:first-child {
      margin-left: 30px;
    }
  }
  &__social{
    display: inline-block;
  }
  &__menu {
    display: inline-block;
    float: right;
    .link{
      padding-left: 20px;
      margin-right: 30px;
    }
    .input-group{
      display: inline-block;
      .link{
        padding-right: 15px;
        margin-right: 0;
      }
      input{
        border: none;
        height: 18px;
        width: 15em;
        box-sizing: border-box;
      }
    }
  }
}
