$topmenu-logo-color: #C0B5AB;
$topmenu-color-font: #9E9E9E;

.menu{
  background: #FFF;
  height: 74px;
  line-height: 1.2;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  a {
    color: $topmenu-color-font;
    display: inline-block;
    margin: 21px 0 21px;
    padding: 10px 18px 10px;
    &:first-child {
      margin-left: 30px;
    }
  }
  &__contenedor {
    display: inline-block;
    float: left;
  }
  &__logo {
    margin: 0 auto;
    display: block;
    width: 180px;
    padding: 27px 0;
    svg{
      vertical-align: middle;
      margin: auto;

      path{
        fill:$topmenu-logo-color;
      }
    }
  }
  &__usuario {
    display: inline-block;
    float: right;
    a:last-child {
      margin-right: 30px;
    }
  }
}
