$footer-logo-color: #FFF;
$footer-font-color: #9E9E9E;
$footer-font-color-hover: scale-color($topbar-font-color, $lightness: 90%);

.footer{
  font-size: rem-calc(13);
  line-height: 15px;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  color: $footer-font-color;
  text-align: center;
  padding: 10px 0;
  position: relative;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 40px;
    font-size: 1em;
  }
  &__item {
    height: 40px;
    display: inline-block;
    @include vertical-center;
  }
  &__link {
    color: $footer-font-color;
    padding: 4px 10px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    transition: color 100ms linear;
    line-height: 16px;
    &:hover {

      color: $footer-font-color-hover;
      svg path {
        fill: $footer-font-color-hover;
      }

    }
  }
  &__logo {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 180px;
    padding: 27px 0;
    margin: 0 auto;
    > svg {
      width: 180px;
      display: inline-block;
      vertical-align: middle;
      path {
        fill: $footer-logo-color;
      }
    }
  }
  &__copyright{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 10px;
    max-width: 550px;
    @include clearfix;
  }

  &__label {
    vertical-align: middle;
    margin-right: 6px;
  }

  &__social &__list {
      margin-left: 15px;
  }

  &__social, &__menu {
    margin-top: 20px;
  }

  &__social-arrow {
    vertical-align: middle;
  }

  &__social {
    height: 40px;
    @include vertical-center;
    svg {
      width: 16px;
      display: inline-block;
      path {
        transition: fill 100ms linear;
        fill: $footer-font-color;
      }
    }
  }
}
