$main-nav-logo-color: #C0B5AB;
$main-nav-color-font: #9E9E9E;
$main-nav-color-background: #FFF;
$main-nav-font-color-hover: scale-color($topbar-font-color, $lightness: -90%);

.main-nav {
  height: 74px;
  background: #FFF;
  height: 74px;
  &__list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    &:first-child {
      margin-left: 30px;
    }
    &:last-child {
      margin-right: 30px;
    }
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
  }
  &__link {
    color: $main-nav-color-font;
    display: inline-block;
    margin: 21px 0 21px;
    padding: 10px 18px 10px;
    transition: color 100ms linear;

    &:hover {
      color: $main-nav-font-color-hover;
    }
  }
  &__logo {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 180px;
    padding: 27px 0;
    > svg {
      width: 180px;
      display: inline-block;
      vertical-align: middle;
      path {
        fill: $main-nav-logo-color;
      }
    }
  }
}
