$topbar-font-color: #9E9E9E;
$topbar-bg: $primary-color;
$topbar-font-color-hover: scale-color($topbar-font-color, $lightness: 90%);
.topbar {
  background-color: $topbar-bg;
  width: 100%;
  height: rem-calc(30);
  font-size: rem-calc(10);
  font-style: normal;
  font-weight: 900;
  line-height: rem-calc(12);
  letter-spacing: 2px;
  &__list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  &__item {
    float: left;
    height: rem-calc(30);

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

  }

  &__link {
    line-height: 1.6;
    padding: 4px 15px;
    color: $topbar-font-color;
    text-transform: uppercase;
    vertical-align: middle;
    transition: color 100ms linear;

    &:hover {
      color: $topbar-font-color-hover;
    }

  }
  &__search {

    &-label {
      color: $topbar-font-color;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
    }

    &-input {
      border: none;
      margin: 0;
      box-sizing: border-box;
      display: inline-block;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.2;
      padding: 2px;
      vertical-align: middle;
    }

    &-submit {
      background: transparent;
      border: 0 solid transparent;
      cursor: pointer;
      display: inline-block;
      padding: 0;
      &:hover {
        >svg > path {
          fill: $topbar-font-color-hover;
        }
      }
      >svg {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        display: inline-block;
        >path {
          fill: $topbar-font-color;
          transition: fill 100ms linear;
        }
      }

    }
  }

}
